@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

$font: "DM Sans", sans-serif;
$primary-color: #e8256c;
body {
  background-color: rgb(30, 41, 59);
  font-family: $font;
}
