@import "../../index.scss";
.header {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
  padding: 10px;
  margin-bottom: 40px;
  &-active {
    color: $primary-color;
  }
}
