@import "../../index.scss";

.page {
  padding-bottom: 30px;
  &-search {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }
  &-input {
    width: 100%;
    input {
      width: 100%;
      padding: 12px;
      background-color: $bg-color-mv;
      color: #fff;
      // border: 1px solid $bg-color-mv;
    }
  }
  &-btn {
    background-color: $primary-color;
    color: #fff;
    padding: 15px 24px;
    cursor: pointer;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 90%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
    }
    &-list::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > * {
      scroll-snap-align: start;
    }
  }
}
