@import "../../index.scss";

.page {
  &-search {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }
  &-input {
    width: 100%;
    input {
      width: 100%;
      padding: 12px;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  &-btn {
    background-color: $primary-color;
    color: #fff;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}
