@import "../../index.scss";
.pageDetails {
  margin-top: 30px;
  padding-bottom: 40px;
  &-bg {
    height: 600px;
    position: relative;
  }
  &-bg--big {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  &-bg--small {
    max-width: 800px;
    width: 100%;
    height: 400px;
    margin: -200px auto 40px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  &-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  &-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 15px;
    margin-bottom: 40px;
    span {
      border: 1px solid $primary-color;
      padding: 12px 24px;
      border-radius: 6px;
    }
  }
  &-desc {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
  }
  &-btn {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  }
  &-casts {
    margin-bottom: 80px;
  }
  &-casts--title {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
  &-casts--list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
  }
  &-casts--images {
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  &-casts--name {
    padding-top: 15px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: $primary-color;
  }
}

h3 {
  transition: all 0.25s linear;
}

.h3--hover:hover {
  cursor: pointer;
  color: $primary-color;
}
