@import "../../index.scss";

.tvDetails {
  padding: 30px 0;
  &-main {
    display: flex;
    align-items: center;
    gap: 0 50px;
  }
  &-left {
    width: 30%;
  }
  &-right {
    width: 70%;
  }
}
