@import "../../index.scss";
.watchTV {
  padding: 30px 0;
  &-video {
    padding: 20px 0;
    width: 100%;
    &--iframe {
      height: 550px;
    }
  }
  &-select--movie {
    display: flex;
    align-items: center;
    gap: 0 100px;
    div {
      width: 100%;
    }
  }
  &-select {
    max-width: 400px;
    width: 100%;
    padding: 12px;
    background-color: $bg-color-mv;
    color: #fff;
  }
}

.watchInfo {
  padding: 20px 0;
  &-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &-season {
    display: flex;
    gap: 0 30px;
  }
  &-images {
    width: 25%;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &-content {
    width: 60%;
  }
  &-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-style: italic;
    margin-bottom: 15px;
  }
}
