@import "../../index.scss";
.watchTV {
  padding: 30px 0;
  &-video {
    padding: 20px 0;
    width: 100%;
    &--iframe {
      height: 500px;
    }
  }
  &-select {
    max-width: 400px;
    width: 100%;
    padding: 12px;
    background-color: $bg-color-mv;
    color: #fff;
  }
}

.watchInfo {
  padding: 20px 0;
  &-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
