@import "../../index.scss";
.movie {
  // margin-bottom: 40px;
  color: #fff;
  padding-bottom: 40px;
  &-heading {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    transition: all 0.25s linear;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
  &-list {
    margin-top: 25px;
  }
  &-item {
    padding: 12px;
    border-radius: 8px;
    background-color: $bg-color-mv;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-images {
    height: 250px;
    margin-bottom: 15px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  &-rate {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  &-icon {
    color: rgba(235, 97, 33, 0.918);
  }
  &-btn {
    margin-top: auto;
  }
  @media screen and (max-width: 767.98px) {
    &-images {
      height: 0;
      position: relative;
      padding-bottom: 56.25%;
    }
    &-images > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
